.Header {
  header {
    min-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1888a5;
    color: white !important;
    h1 {
      font-size: 2.6rem;
    }
    h5 {
      padding: 0;
      margin: 0;
    }
  }
}
