.dgrid.news-grid {
  display: grid;
  width: 70%;
  margin: 100px auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 50px;
  align-items: center;
  justify-content: center;
}
